<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/California_test_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [245]:
#import dependencies
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
 
from scipy.stats import t
from sklearn import linear_model 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [246]:
!pip install linear models

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting linear
  Using cached linear-0.0.dev0.tar.gz (1.4 kB)
Collecting models
  Using cached models-0.9.3.tar.gz (16 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/92/3c/ac1ddde60c02b5a46993bd3c6f4c66a9dbc100059da8333178ce17a22db5/models-0.9.3.tar.gz#sha256=b5aa29c6b57a667cda667dd9fbd33bbd15c14cc285e57dda64f4f4c0fd35e0ae (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.9.2.tar.gz (16 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/44/3a/8cd3c08995d89e87e74a9aa04784dcb9ade25c03250c281376ce4942d7f5/models-0.9.2.tar.gz#sha256=308be4d5cb707c63f967c591111a8675fe3eaa59c04516e5f6c7fff5e026ece0 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.9.1.tar.gz (16 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/10/1d/dd6ae3703251520729a9203ce95c436837ca28e0ee6794538efb136ac0e4/models-0.9.1.tar.gz#sha256=78eb7e8cef14864cda9ec5c1911f3c0771671734c71945ec4f908c505d3be8f9 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.9.0.tar.gz (14 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/05/2a/025b493fac59ba30b4ba63c15e72200b0d39a44f22a226f3d69b176a03df/models-0.9.0.tar.gz#sha256=9c16463aef8fe05e856d74c084035bac1d53936f6274444611eee7cb2ccc4556 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.8.0.tar.gz (14 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/63/e1/b6f02f5df8e27da6a3ea3b7f61ff7ab2d17b4b98290a54799c1bd712b883/models-0.8.0.tar.gz#sha256=c2d01e2c83fb39866ad622e0dbe0e211cf694b5148550cca079411249171c747 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.7.0.tar.gz (14 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/09/88/72909bdb09041e6adcc90944f8e9a08fb578aaa6e7699e80a9c147ff7c1f/models-0.7.0.tar.gz#sha256=e3d01ad00a6ec6831de6138a3f986c2efb7bd9355d8bb3f5b700eb2e96b6e3e7 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.4.0.tar.gz (11 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/79/44/59bdda622faaec86c9db3f85270e29a3485936753b779c8210d3c0499ccb/models-0.4.0.tar.gz#sha256=80314c00ee1e8b19b4536107daac00b4e986f048e58d73530a00348322bc4399 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.3.0.tar.gz (11 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/fb/dc/fd2068f4cc4f275a1a2d41a2ca6a6b3a0d49c7e86ba3a30d2fbf15731f7a/models-0.3.0.tar.gz#sha256=ce0350c757e27dcf7476d9a3f030a3f408c0b318a6b1153a83db8206766fae10 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.2.0.tar.gz (11 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/27/62/62ebd85760e4f812753056b4763f0a866cdcbc08ee6ccc2b81a2f5fb2202/models-0.2.0.tar.gz#sha256=2f5982ef56afe9239f81f5d6a461823e0dc267c6212c06754a0863b98dad60a4 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.1.1.tar.gz (11 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/ca/81/53baac8e352f956a23568f285a72bcd2d8cc04321022f0196de5eaf5e5e4/models-0.1.1.tar.gz#sha256=b117db9acd5a232f4333a5927385320826168514364e86d1dbaba44b01fab1a9 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.1.0.tar.gz (11 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/ad/3b/596d1bb079039dc29b92692e59b87d7f352a15e25cca6b5b304ff3efce9a/models-0.1.0.tar.gz#sha256=0b74111b909079ef6baaa10e1619ff5aaeaace807f0bcc948650c38e81534203 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.0.5.tar.gz (6.4 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/b9/12/3a057a76ef4063e25584e922228e82f9fb0ab20e888e97dd4d109d017207/models-0.0.5.tar.gz#sha256=5832d3221cce8918872873b7aa8436d80c829de1b7ba4ec21944c9c361a12386 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.0.4.tar.gz (6.1 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/e6/6a/0a4cb29c5d32ddbe06080deebd1e4f8896f6de56f954d690d492e8044b91/models-0.0.4.tar.gz#sha256=4537a1b50b1efb54ff52762f6108be8afcfc194927380d948d7d983ac2557a98 (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached models-0.0.3.tar.gz (6.2 kB)
WARNING: Discarding https://files.pythonhosted.org/packages/68/35/b990e771f13982d98385774c651c0c90baec4b4ef19c752b5e6add126d3f/models-0.0.3.tar.gz#sha256=9bb0315231b46d53df62c63321c33fc6935ca58db629e3aef09c735b781a9d8b (from https://pypi.org/simple/models/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement models (from versions: 0.0.3, 0.0.4, 0.0.5, 0.1.0, 0.1.1, 0.2.0, 0.3.0, 0.4.0, 0.7.0, 0.8.0, 0.9.0, 0.9.1, 0.9.2, 0.9.3)
ERROR: No matching distribution found for models

In [247]:
california_test_score  = pd.read_csv('/content/Table1.csv')

In [248]:
data = california_test_score

In [249]:
#find missing values
data.isnull().sum()

Number       0
TestScore    0
STR          0
EXPN         0
PCTEL        0
dtype: int64

In [250]:
data.head()

   Number  TestScore    STR  EXPN  PCTEL
0       1      690.8  17.89  6385    0.0
1       2      661.2  21.52  5099    4.6
2       3      643.6  18.70  5502   30.0
3       4      647.7  17.36  7102    0.0
4       5      640.8  18.67  5236   13.9

In [251]:
#statistica data for variabe STR

In [252]:
data.shape

(420, 5)

In [253]:
#STR student teacher ratio, expn expenditure per pupil, pcte perentageof student learning
data.describe()

           Number   TestScore         STR         EXPN       PCTEL
count  420.000000  420.000000  420.000000   420.000000  420.000000
mean   210.500000  654.160238   19.640500  5312.385714   15.770476
std    121.387808   19.052837    1.891858   633.929254   18.284528
min      1.000000  605.600000   14.000000  3926.000000    0.000000
25%    105.750000  640.050000   18.580000  4906.000000    1.900000
50%    210.500000  654.450000   19.725000  5214.500000    8.800000
75%    315.250000  666.700000   20.870000  5601.750000   22.950000
max    420.000000  706.800000   25.800000  7712.000000   85.500000

In [254]:
#test score, EXPN and PCTEL  by STR_median
#STR, EXPN PCTEL by TestScore 
data.groupby('STR').median()

       Number  TestScore    EXPN  PCTEL
STR
14.00    80.0      635.6  6653.0    0.0
14.20   229.0      656.5  5636.0    0.0
14.54   409.0      695.3  7712.0    3.8
14.71   316.0      666.8  6870.0    2.5
15.14   412.0      698.3  7593.0    2.8
...       ...        ...     ...    ...
24.89   324.0      668.1  4743.0    4.5
24.95    90.0      637.0  4079.0    5.0
25.05    24.0      622.1  4660.0   39.1
25.79   210.0      654.2  3926.0    9.6
25.80   297.0      664.9  4016.0    6.2

[312 rows x 4 columns]

In [255]:
data.groupby('TestScore').median()

           Number    STR    EXPN  PCTEL
TestScore
605.6         6.0  21.41  5580.0   12.4
606.8         7.0  19.50  5253.0   68.7
609.0         8.0  20.89  4566.0   47.0
612.5         9.0  19.95  5356.0   30.1
612.7        10.0  20.81  5036.0   40.3
...           ...    ...     ...    ...
698.4       413.0  17.84  6500.0    1.4
699.1       414.0  15.41  7217.0    1.2
700.3       415.0  18.87  5393.0    2.1
704.3       416.0  16.47  7290.0    6.0
706.8       417.0  17.86  5741.0    4.7

[323 rows x 4 columns]

In [256]:
#drop coumn STR X axis , assign STR Y axis 
X = data.drop(columns = 'TestScore', axis=1)
Y = data['STR']

In [257]:
print(X)

     Number    STR  EXPN  PCTEL
0         1  17.89  6385    0.0
1         2  21.52  5099    4.6
2         3  18.70  5502   30.0
3         4  17.36  7102    0.0
4         5  18.67  5236   13.9
..      ...    ...   ...    ...
415     416  16.47  7290    6.0
416     417  17.86  5741    4.7
417     418  21.89  4403   24.3
418     419  20.20  4776    3.0
419     420  19.04  5993    5.0

[420 rows x 4 columns]

In [258]:
print(Y)

0      17.89
1      21.52
2      18.70
3      17.36
4      18.67
       ...
415    16.47
416    17.86
417    21.89
418    20.20
419    19.04
Name: STR, Length: 420, dtype: float64

In [261]:
reg1 = sm.OLS(endog=data['STR'], exog=data[['EXPN', 'PCTEL']])
results1 = reg1.fit()
print(results1.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    STR   R-squared (uncentered):                   0.965
Model:                            OLS   Adj. R-squared (uncentered):              0.965
Method:                 Least Squares   F-statistic:                              5767.
Date:                Sun, 28 Aug 2022   Prob (F-statistic):                   4.40e-305
Time:                        02:10:37   Log-Likelihood:                         -1144.3
No. Observations:                 420   AIC:                                      2293.
Df Residuals:                     418   BIC:                                      2301.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
EXPN           0.0035    4.4e-05     79.129      0.000       0.003       0.004
PCTEL          0.0467      0.010      4.786      0.000       0.028       0.066
==============================================================================
Omnibus:                       24.831   Durbin-Watson:                   1.756
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.378
Skew:                          -0.479   Prob(JB):                     5.65e-08
Kurtosis:                       3.994   Cond. No.                         289.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [260]:
statistics(fractiles).STR

NameError: ignored

In [ ]:
#STR rate by EXPN and PCTEL
#data.pivot_table('STR', index='EXPN', columns='PCTEL').plot()

In [ ]:
#plot the 
sns.barplot(x='Number', y='STR', data=california_test_score )

In [ ]:
from matplotlib import figure
#Visualize the count of survivors for the columns sets: 'who', 'sex', 'pclass','sibsp', 'parch', 'embarked'
#different values for each column example sex : 2 values - male or female , parch meaning parent or child etc. 
cols = ['who', 'sex', 'pclass','sibsp', 'parch', 'embarked']

#make plots for column names 
n_rows = 2
n_cols = 3

#create the subplot grid fugure size of each graph 
fig, axs = plt.subplots(n_rows, n_cols, figsize = (n_cols * 3.2, n_rows * 3.2) )

for r in range(0, n_rows):
  for c in range(0, n_cols):

    i = r*n_cols + c  #index to go through the number of columns
    ax = axs[r][c]    #show where to position each sub plot
    sns.countplot(titanic[cols[i]], hue=titanic['survived'], ax=ax) 
    #i is for the loop to pass through each column
    ax.set_title(cols[i])
    ax.legend(title='survived', loc = 'upper right')
    plt.tight_layout()

In [ ]:
#initialize the linear regression model
reg = linear_model.LinearRegression()