<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/mcd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import yfinance as yf
import pandas as pd

In [50]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.77)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [51]:
ticker = 'MCD'

In [52]:
mcd = yf.Ticker(ticker)

In [53]:
mcd = yf.Ticker(ticker)

In [54]:
a = mcd.get_earnings()
print(a)
b = mcd.get_shares
print(b)

          Revenue    Earnings
Year
2018  21257900000  5924300000
2019  21364400000  6025400000
2020  19207800000  4730500000
2021  23222900000  7545200000
<bound method TickerBase.get_shares of yfinance.Ticker object <MCD>>

In [55]:
mcd.get_balancesheet()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Intangible Assets,7.950000e+08,6.912000e+08,6.654000e+08,NaN
Capital Surplus,8.231600e+09,7.903600e+09,7.653900e+09,7.376000e+09
Total Liab,5.845530e+10,6.045170e+10,5.572110e+10,3.906960e+10
Total Stockholder Equity,-4.601000e+09,-7.824900e+09,-8.210300e+09,-6.258400e+09
Other Current Liab,3.640000e+08,8.236000e+08,3.418000e+08,2.317000e+08
Total Assets,5.385430e+10,5.262680e+10,4.751080e+10,3.281120e+10
Common Stock,1.660000e+07,1.660000e+07,1.660000e+07,1.660000e+07
Other Current Assets,5.240000e+07,1.856000e+08,2.400000e+07,2.025000e+08
Retained Earnings,5.753470e+10,5.390810e+10,5.293050e+10,5.048700e+10
Other Liab,5.787600e+09,5.752400e+09,5.224200e+09,5.009000e+09
Good Will,2.782500e+09,2.773100e+09,2.677400e+09,2.331500e+09
Gains Losses Not Affecting Retained Earnings,-7.038390e+10,-6.965320e+10,-6.881130e+10,-6.413800e+10
Other Assets,3.645900e+09,2.800400e+09,1.906500e+09,2.381000e+09
Cash,4.709200e+09,3.449100e+09,8.985000e+08,8.660000e+08
Total Current Liabilities,4.020000e+09,6.181200e+09,3.621000e+09,2.973500e+09
Deferred Long Term Asset Charges,2.357000e+09,2.135700e+09,1.138900e+09,1.219400e+09
Other Stockholder Equity,-2.573700e+09,-2.586800e+09,-2.482700e+09,-2.609500e+09
Property Plant Equipment,3.827260e+10,3.878590e+10,3.742120e+10,2.284270e+10
Total Current Assets,7.148500e+09,6.243200e+09,3.557900e+09,4.053200e+09
Long Term Investments,1.209800e+09,1.333000e+09,1.282400e+09,1.202800e+09
Net Tangible Assets,-8.178500e+09,-1.128920e+10,-1.155310e+10,-8.589900e+09
Net Receivables,2.204400e+09,2.435300e+09,2.363000e+09,2.454000e+09
Long Term Debt,3.562680e+10,3.519680e+10,3.411810e+10,3.108710e+10
Inventory,5.560000e+07,5.110000e+07,5.020000e+07,5.110000e+07
Accounts Payable,1.006800e+09,7.413000e+08,9.882000e+08,1.207900e+09
Short Long Term Debt,NaN,2.243600e+09,5.910000e+07,1.000000e+05

In [56]:
mcd.get_financials()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,9127900000.0,6140700000.0,8018100000.0,7816100000.0
Minority Interest,None,None,None,None
Net Income,7545200000.0,4730500000.0,6025400000.0,5924300000.0
Selling General Administrative,2377800000.0,2245000000.0,1966900000.0,1985400000.0
Gross Profit,12580200000.0,9752100000.0,11179400000.0,10832600000.0
Ebit,9873100000.0,7213300000.0,8954700000.0,8625700000.0
Operating Income,9873100000.0,7213300000.0,8954700000.0,8625700000.0
Other Operating Expenses,-400000.0,-6800000.0,-4700000.0,6700000.0
Interest Expense,-1185800000.0,-1218100000.0,-1121900000.0,-981200000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1582700000.0,1410200000.0,1992700000.0,1891800000.0
Total Revenue,23222900000.0,19207800000.0,21364400000.0,21257900000.0
Total Operating Expenses,13349800000.0,11994500000.0,12409700000.0,12632200000.0
Cost Of Revenue,10642700000.0,9455700000.0,10185000000.0,10425300000.0
Total Other Income Expense Net,-745200000.0,-1072600000.0,-936600000.0,-809600000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,7545200000.0,4730500000.0,6025400000.0,5924300000.0
Net Income Applicable To Common Shares,7545200000.0,4730500000.0,6025400000.0,5924300000.0

In [57]:
mcd.get_cashflow()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Change To Liabilities,2.250000e+08,-1.375000e+08,-2.680000e+07,1.294000e+08
Total Cashflows From Investing Activities,-2.165700e+09,-1.545800e+09,-3.071100e+09,-2.455100e+09
Net Borrowings,-1.070500e+09,2.238200e+09,3.236300e+09,2.130800e+09
Total Cash From Financing Activities,-5.595600e+09,-2.249000e+09,-4.994800e+09,-5.949600e+09
Change To Operating Activities,2.840000e+08,4.440000e+07,-3.900000e+06,-8.740000e+07
Issuance Of Stock,2.857000e+08,2.955000e+08,3.505000e+08,4.032000e+08
Net Income,7.545200e+09,4.730500e+09,6.025400e+09,5.924300e+09
Change In Cash,1.260100e+09,2.550600e+09,3.250000e+07,-1.597800e+09
Repurchase Of Stock,-8.455000e+08,-9.078000e+08,-4.976200e+09,-5.207700e+09
Effect Of Exchange Rate,-1.201000e+08,8.020000e+07,-2.370000e+07,-1.598000e+08
Total Cash From Operating Activities,9.141500e+09,6.265200e+09,8.122100e+09,6.966700e+09
Depreciation,1.868100e+09,1.751400e+09,1.617900e+09,1.482000e+09
Other Cashflows From Investing Activities,-5.390000e+07,5.740000e+07,-6.285000e+08,-3.029000e+08
Dividends Paid,-3.918600e+09,-3.752900e+09,-3.581900e+09,-3.255900e+09
Change To Inventory,-6.220000e+07,-6.860000e+07,1.288000e+08,-1.900000e+06
Change To Account Receivables,3.099000e+08,-6.800000e+06,2.700000e+07,-4.794000e+08
Other Cashflows From Financing Activities,-4.670000e+07,-1.220000e+08,-2.350000e+07,-2.000000e+07
Change To Netincome,-7.260000e+08,-4.600000e+06,1.803000e+08,3.310000e+07
Capital Expenditures,-2.040000e+09,-1.640800e+09,-2.393700e+09,-2.741700e+09

In [58]:
mcd.get_analysis()

,Max Age,End Date,Growth,Earnings Estimate Avg,Earnings Estimate Low,Earnings Estimate High,Earnings Estimate Year Ago Eps,Earnings Estimate Number Of Analysts,Earnings Estimate Growth,Revenue Estimate Avg,...,Revenue Estimate Growth,Eps Trend Current,Eps Trend 7Days Ago,Eps Trend 30Days Ago,Eps Trend 60Days Ago,Eps Trend 90Days Ago,Eps Revisions Up Last7Days,Eps Revisions Up Last30Days,Eps Revisions Down Last30Days,Eps Revisions Down Last90Days
Period,,,,,,,,,,,,,,,,,,,,,
0Q,1,2022-09-30,-0.06200,2.59,2.49,2.72,2.76,29.0,-0.062,5.706790e+09,...,-0.054,2.59,2.60,2.60,2.59,2.66,1.0,2.0,6.0,NaN
+1Q,1,2022-12-31,0.07600,2.40,2.22,2.60,2.23,29.0,0.076,5.554420e+09,...,-0.076,2.40,2.40,2.42,2.41,2.43,2.0,3.0,6.0,NaN
0Y,1,2022-12-31,0.05800,9.82,9.58,10.50,9.28,32.0,0.058,2.270140e+10,...,-0.022,9.82,9.85,9.87,9.87,9.85,3.0,4.0,5.0,NaN
+1Y,1,2023-12-31,0.07000,10.51,9.85,11.58,9.82,34.0,0.070,2.338910e+10,...,0.030,10.51,10.54,10.59,10.59,10.73,3.0,3.0,5.0,NaN
+5Y,1,NaT,0.07230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-5Y,1,NaT,0.05613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#define a data frame and name the object
mcd = mcd.history(period='max')

In [60]:
mcd.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-10 00:00:00-04:00,233.410004,236.259995,233.410004,234.949997,2668700,0.0,0.0
2022-10-11 00:00:00-04:00,234.160004,239.119995,233.929993,237.050003,3169200,0.0,0.0
2022-10-12 00:00:00-04:00,237.270004,240.039993,237.059998,237.059998,2709300,0.0,0.0
2022-10-13 00:00:00-04:00,234.460007,249.300003,234.460007,246.750000,5026900,0.0,0.0
2022-10-14 00:00:00-04:00,249.080002,249.429993,242.410004,243.160004,2918300,0.0,0.0

In [61]:
mcd.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1966-07-05 00:00:00-04:00,0.0,0.123300,0.120519,0.121445,388800,0.0,0.0
1966-07-06 00:00:00-04:00,0.0,0.127935,0.120519,0.127935,692550,0.0,0.0
1966-07-07 00:00:00-04:00,0.0,0.131180,0.122373,0.123300,1858950,0.0,0.0
1966-07-08 00:00:00-04:00,0.0,0.124690,0.120519,0.124690,1239300,0.0,0.0
1966-07-11 00:00:00-04:00,0.0,0.127935,0.122836,0.124227,656100,0.0,0.0

In [62]:
mcd.get_institutional_holders()

AttributeError: ignored

In [ ]:
mcd.get_major_holders()

In [ ]:
import plotly.express as px

In [ ]:
fig = px.line(mcd,x= mcd.index, y= 'Close', title = 'Interactive Graph for '+ticker)
fig.show()