<a href="https://colab.research.google.com/github/TVHM/summer_microcredentials_BUS/blob/main/regression__movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [10]:
df=pd.read_csv('/content/Movies.csv')
df.head(5)

,wkd_ind,assaults,attend_v,attend_m,attend_n,pr_attend_v,pr_attend_m,pr_attend_n,attend_v_f,attend_m_f,...,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12
0,2,1037,4.4302,4.5009,13.0200,4.9223,3.7808,11.9310,3.0914,4.1061,...,0,0,0,0,0,0,0,0,0,0
1,3,827,3.0914,4.1061,7.6340,3.3526,3.8951,7.7697,2.3211,3.8242,...,0,0,0,0,0,0,0,0,0,0
2,4,864,2.3211,3.8242,5.1748,2.4991,3.1744,4.8070,2.0207,3.4072,...,0,0,0,0,0,0,0,0,0,0
3,5,801,2.0207,3.4072,6.0123,2.6573,3.3738,5.9798,1.6774,3.7537,...,0,0,0,0,0,0,0,0,0,0
4,6,802,1.6774,3.7537,5.8236,2.3952,2.8532,5.2682,1.6346,4.3510,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.describe()

,wkd_ind,assaults,attend_v,attend_m,attend_n,pr_attend_v,pr_attend_m,pr_attend_n,attend_v_f,attend_m_f,...,month3,month4,month5,month6,month7,month8,month9,month10,month11,month12
count,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,...,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000,516.000000
mean,259.738372,4352.662791,2.590201,7.318243,8.953423,2.601372,7.147535,8.694462,2.573740,7.306677,...,0.085271,0.081395,0.087209,0.083333,0.083333,0.087209,0.081395,0.087209,0.083333,0.081395
std,149.482796,2120.995384,2.278635,4.277742,3.971340,2.332762,4.258477,3.966249,2.275903,4.280352,...,0.279556,0.273707,0.282415,0.276654,0.276654,0.282415,0.273707,0.282415,0.276654,0.273707
min,2.000000,683.000000,0.000000,0.352310,2.199600,0.000000,0.486130,1.717800,0.000000,0.352310,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,130.750000,2582.750000,0.847167,4.214975,6.146225,0.858545,4.034225,5.861775,0.838967,4.190800,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,259.500000,4231.000000,2.043100,6.477000,8.225900,2.103450,6.258750,8.090050,2.030450,6.468650,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,388.250000,6152.250000,3.731825,9.399400,10.926500,3.674800,9.326975,10.814750,3.691925,9.356550,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,520.000000,8719.000000,12.429000,24.890000,23.858000,14.333000,23.797000,25.384000,12.429000,24.890000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
#reg1 ='INDPRO~UNRATE+FEDFUNDS'

In [ ]:
#reg1output=smf.ols(reg1,fed_data1).fit()
reg1 = sm.OLS(endog=fed_data1['INDPRO'], exog=fed_data1[['UNRATE', 'FEDFUNDS']])
results1 = reg1.fit()
print(results1.summary())